body {
	font-family: Dosis, sans-serif;
}

.text-center {
	background-color: #fefefe;
}

.container {
	color: #2A363B;
	text-align: left;
}

.sidenav a {
	color: #fff;
	text-transform: uppercase;
}

h1 {
	text-align: left;
}

.input-group {
	width: 50%;
	margin: 20px 0px 20px 0px;
}

.btn-default {
	background-color: #FCDF2B;
	color: #27394f;
	border-color: #e2c713;
	box-shadow: 0 2px 0 #e6ca1f;
}

.btn {
	border: none;
	font-family: Dosis, sans-serif;
	text-transform: uppercase;
	border-radius: 0px;
	outline: 0!important;
}

.productbox {
    background-color:#ffffff;
	padding:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}