body {
	font-family: Dosis, sans-serif;
}

.text-center {
	background-color: #fefefe;
}

.container-fluid {
	color: #2A363B;
	text-align: left;
}

.sidenav a {
	color: #fff;
	text-transform: uppercase;
}

.dropdown-item {
	text-align: center;
}

.dropdown a:visited {
	color: #fff;
}

.dropdown a:hover {
	color: #fff;
	text-decoration: underline;
}