body {
	font-family: Dosis, sans-serif;
}

.text-center {
	background-color: #fefefe;
}

.container-fluid {
	color: #2A363B;
	text-align: left;
}

.sidenav a {
	color: #fff;
	text-transform: uppercase;
}

h1 {
	text-align: left;
}

form {
	text-align: left;
}

.form-control {
	width: 50%;
}

.btn-default {
	background-color: #FCDF2B;
	color: #27394f;
	border-color: #e2c713;
	box-shadow: 0 2px 0 #e6ca1f;
}

.btn {
	border: none;
	font-family: Dosis, sans-serif;
	text-transform: uppercase;
	border-radius: 0px;
	outline: 0!important;
}